<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Services</title>
    <style>
        .jumbotron{
         background-image: url("");
            margin-bottom: 0px;
            background-image: url(https://www.negativespace.co/wp-content/uploads/2017/01/negativespace2-6-1062x708.jpg);
            background-position: 0% 25%;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            text-shadow: black 0.1em 0.3em 0.3em;

        }
        .btn-group{
            padding-top: 1em;
        }
        img{
            width: 8%;

        }
    </style>
</head>
<header>
    <div class="jumbotron text-center">
        <h1>Services</h1>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
</header>
<body>
    <div class="container">
        <div class="btn-group">
            <button type="button menu" class="btn dropdown-toggle" data-toggle="dropdown">
                Sort by <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/sort/name">name</a></li>
                <li><a href="/sort/price">price</a></li>
            </ul>
        </div>
       <div class="row">
           <table class="table">
               <tr>
                   <td>
                       {{#each services as |service|}}
                           <div class="well well-lg">
                               <a href="/{{service.id}}">
                                   <img class="img-circle" src="{{service.image}}">
                               </a>
                               <a href="/{{service.id}}">
                                   {{service.name}}
                               </a>
                               {{service.price}}
                           </div>
                       {{/each}}
                   </td>
               </tr>
           </table>
       </div>
    </div>
</body>
</html>