<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        function save() {
            $.ajax('/api/service/{{service.id}}', {
                method: 'PUT',
                data: {
                    category: $('#category').val(),
                    price: $('#price').val(),
                    description: $('#description').val(),
                    duration: $('#duration').val(),
                },
                complete: function () {
                    cancel()
                    location.reload()
                }
            })
        }

        function init() {
            var service = '{{service.name}}';
            console.log("service", service);
        }
        init();
        $( document ).ready(function() {
            $('.view').show()
            $('.edit').hide()
        });

        function edit() {
            $('.view').hide()
            $('.edit').show()
        }
        function cancel() {
            $('.view').show()
            $('.edit').hide()
        }
    </script>
    <title>Service index</title>
    <style>
        * {
            font-family: Arial;
        }
        div{
            display: flex;
            align-items: center;
            padding: 1em;
            font-size: 1.2em;
        }
        div{
            padding-left: 0.5em;
        }
        edit.hidden {
            visibility: hidden;
        }

    </style>
</head>
<header>
    <div class="container" style="background-color: aqua">
        <img src="{{service.image}}">
        <h1>{{service.name}}</h1>
    </div>
</header>
<body>

    <div class="container">
       <dl>
           <dt><a href="/" class="btn btn-default">Back to main page</a></dt>
           <dt>Category</dt>
           <dd class="view" >{{service.category}}</dd>
           <dd class="edit" ><input id="category" type="text" value="{{service.category}}"></dd>
           <dt>Price</dt>
           <dd class="view" >{{service.price}}</dd>
           <dd class="edit" ><input id="price" type="text" value="{{service.price}}"></dd>
           <dt>Description</dt>
           <dd class="view" >{{service.description}}</dd>
           <dd class="edit" ><input id="description" type="text" value="{{service.description}}"></dd>
           <dt>Duration</dt>
           <dd class="view" >{{service.duration}}</dd>
           <dd class="edit" ><input id="duration" type="text" value="{{service.duration}}"></dd>
           <dt></dt>
           <dd class="edit">
               <input type="button" onclick="save()" value="Save" />
               <input type="button" onclick="cancel()" value="Cancel" />
           </dd>
           <dt><button class="btn btn-default view"  onclick="edit()">Edit</button></dt>
       </dl>
    </div>

</body>
</html>